body{
    background-color: aqua;
    display: flex;
}
#thief{
    width: 200px;
    height: 200px;
    animation: thief;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state:  running;
    position: fixed;
    animation-timing-function: linear;
}

@keyframes thief {
    0% {transform: translateX(1000%);} /*ajustar estos valores en función de la pantalla,*/
    100% {transform: translateX(-130%);;} /*si bien va con display fixed y no debería dar guerra*/
}